* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    }
    
    head{
        display: none; 
        }
        
        a{
            margin-top: 50px;
        }
        

        a{
            text-decoration: none;
            margin-left: 15px;
            transition: 0.5s ease-in-out;
            border-radius: 10px;
            text-align: center;
            padding: 5px;
            color: white;
            }
        
        header{
            position: relative;
            display: inline-block;
            width: 100%;
        }
        img {
            width: 100%;
            height: 350px;
            display: block;
        }
        
        .pages{
            position: absolute;
            top: 70.5%;
            left: 80%;
            color: gray;
            font-size: 20px;
            text-align: center;
            display: flex;
            gap: 10px;
        }
        
        a:hover{
            color: blue;
            font-size: larger;
        
        }
    
    body {
        background: radial-gradient(circle, #fff3fe, #2c8466);
    }

    
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
}

.logo{
   margin-left: 250px;
 margin-top: 90px;
    border-radius: 100%;
    height: 70px;
    width: 70px;
   
}
.grid-item {
   
    color: white;
    text-align: center;
    font-size: 18px;
  
    border-radius: 5px;

}

.logos{
margin-left:25% ;
height: 40%;
width: 100%;
display: flex;

}
h1{

    margin-top: 3%;
    font-size: 50px;
}
.para{
    display: flex;
    gap: 3%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}