* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    }

    head{
        display: none; 
        }
        
    a{
        text-decoration: none;
        color: white;
        padding-right: 2rem;
        margin-top: 50px;
    }
    
    .section-2{
    width: 130%;
    height: 50vh;
    align-items: center;
    margin-top: 90px;
    padding-left: 8%;
   
    }


    body {
        background: radial-gradient(circle, #fff3fe, #2c8466);
    }

    .container {
        width: 100%;
     
        border-radius: 8px;
        text-align: center;
       
        
    }

    .container h2 {
        font-size: 40px;
        margin-bottom: 30px;
        margin-left: 25%;
    }

    .container p {
        font-size: 14px;
        color: #555;
    }

    .content {
        width: 100%;
        display: flex;
       padding-left: 40px;
        margin-top: 5px;
       align-content: center;
        gap: 50px;
    }
.div{
    display: flex;
    align-content: center;
}
  
    .form {
        width: 350%;
    }

    .form input, .form textarea {
        width: 100%;
        padding: 10px;
        margin: 10px ;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .form button {
        background-color: #2ecc71;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 4px;
        font-size: 16px;
    }

    .form button:hover {
        background-color: #27ae60;
    }

    .address {
        width: 250%;
        color: #333;
        padding-left: 20px;
    }

    .address h3 {
        color: #27ae60;
        margin-bottom: 10px;
    }

    .address p {
        font-size: 14px;
        color: #555;
    }

    .address i {
        margin-right: 8px;
        color: #27ae60;
    }

    .social-icons {
        margin-top: 15px;
        display: flex;
    }

    .social-icons a {
        color: #555;
        font-size: 18px;
        text-decoration: none;
        margin-top: 0;
        margin-left: 35px;
    }

    .social-icons a:hover {
        color: #27ae60;
    }

   
            .map-section {
                width: 100%;
                margin-top: 1%;
                text-align: center;

            }
            .ti{

                margin-top: -10%;
            }
    
            .map-section h2 {
                font-size: 40px;
                margin-right: 25%;
            }
    
            .map {
                width: 50%;
                height: 300px;
                border-radius: 8px;
                overflow: hidden;
                margin-left: 140px;
               text-align:center;
            }
    
            .map iframe {
                width: 100%;
                height: 100%;
                border: 0;
            }

            .section-3{
                margin-top: 100px;
            }
            
            header{
                position: relative;
                display: inline-block;
                width: 100%;
            }
            img {
                width: 100%;
                height: 350px;
                display: block;
            }
            
            .pages{
                position: absolute;
                top: 70%;
                left: 80%;
                color: gray;
                font-size: 20px;
                text-align: center;
                display: flex;
                gap: 10px;
            }
            
            a:hover{
                color: blue;
                font-size: larger;
            
            }

      